<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
	<appSettings>
    <!-- Настройки OWIN -->
    <add key="owin.host" value="http://195.34.21.18:3333"/>
  </appSettings>
	
	<!-- Logger -->
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<!-- add your targets here -->
    
			<target name="logfile" xsi:type="File" fileName="${basedir}\logs\${shortdate}-message.log"/>
			<target name="console" xsi:type="ColoredConsole"/>
  
		</targets>

		<rules>
			<!-- add your logging rules here -->

			<logger name="Global" minlevel="Trace" writeTo="logfile, console"/>
  
		</rules>
	</nlog>

	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
